/* style for the header of the page */
#top {
    background-color: #25496b; 
}

/* didn't need anymore
/* for the header as well */
/*.flex-row {
    display: flex;
    flex-direction: row;
}*/

/* ensures everything stays centered */
body {
    text-align: center;
}

/* class for an unordered list that has the bullets centered with the text */
/* .centered-list {
    text-align: center;
    list-style-position: inside;
} */
/* didn't actually work as intended */